.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(15px) saturate(100%);
    -webkit-backdrop-filter: blur(15px) saturate(100%);
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.25);
    outline: none;
}

.Overlay {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
