/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

.font-sans {
    font-family: "Varela", sans-serif;
} */

html {
    background-color: #f4f4f4;
    font-size: 18px;
    transition: 0.25s ease-in-out;
}

button,
button:focus {
    outline: none;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.bg-blur {
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(12px) saturate(100%);
    -webkit-backdrop-filter: blur(12px) saturate(100%);
}

.separator {
    border: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

a {
    @apply text-blue-600;
}

.main-button {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.35);
    -webkit-transition: all 400ms cubic-bezier(.23, 1, .32, 1);
    transition: all 400ms cubic-bezier(.23, 1, .32, 1);

    @apply px-6 py-3 font-bold bg-black text-white rounded-lg inline-block;
}

.main-button:hover {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15), 0 8px 32px 0 rgba(0, 0, 0, 0.25);
    -webkit-transform: translate(0px, -4px);
    -ms-transform: translate(0px, -4px);
    transform: translate(0px, -4px);
}

.shadowed {
    -webkit-filter: drop-shadow(-20px 30px 25px rgba(0,0,0,0.4));
    filter: drop-shadow(-20px 30px 25px rgba(0,0,0,0.4));
}

footer a {
    transition: 0.25s ease-in-out;
    @apply text-black no-underline inline-block mx-4 px-2 py-1;
}

footer a:hover {
    @apply bg-gray-200 rounded-lg;
}